:root {
  --main-color: hsl(0, 0%, 13%);
  --secondary-color: hsl(0, 3%, 23%);
}

*:not(div) {
  background: var(--main-color);
  color: whitesmoke;
  font-family: avenir, arial;
  padding: 10px;
  transition: 0.2s;
}

body,
section#main,
h1 {
  background: transparent;
}

button {
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  font-size: 16px;
}

button:hover,
button:focus,
a:hover,
a:focus {
  background: lime;
  color: black;
  text-decoration: underline;
  outline: 0;
  box-shadow: 0 0 0 2pt white;
}

button:focus,
a:focus {
  box-shadow: 0 0 0 4pt white;
}

.center {
  text-align: center;
}

.shake:hover {
  animation: wobble 0.5s;
  animation-iteration-count: 1;
}

#hint {
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(50, 50, 50);
}

#hint:hover {
  color: lime;
}

#secret-button {
  position: absolute;
  left: -100%;
  z-index: 3;
}

#secret-button:focus {
  left: 10% !important;
}

@media only screen and (max-device-width: 640px) {
  button {
    min-width: 48px;
    min-height: 48px;
    margin: 10px;
  }

  #secret-button {
    left: 0;
    top: 120vh;
  }
}

.view-resize-animation {
  margin: 10px;
}

#hint,
button:hover,
button:focus,
a:hover,
a:focus {
  animation-name: wobble;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes wobble {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

#draggable {
  cursor: move;
  border-radius: 1em;
  font-size: 10px;
  transition: none;
}

.commandKey {
  background: navy;
}

div,
img,
p {
  background: rgba(0, 0, 0, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#cover {
  z-index: -1;
  position: fixed;
  background: var(--secondary-color);
  opacity: 0.1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 100% 30%, 100% 100%, 0% 80%);
}

#noscript p {
  text-align: center !important;
}

#cursor-shadow {
  position: absolute;
  box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.1);
  transition: 0s;
}

#extra-info {
  color: #808080;
}

.tilt {
  width: 15ch;
  margin: auto;
  transform-style: preserve-3d;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.tilt:hover {
  background: lime;
  color: black;
}

.tilt > .tilt-element-inner-text {
  transform: translateZ(20px);
  color: white;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  line-height: 50px;
  font-family: avenir, arial, tahoma, monospace;

  position: absolute;
  width: 50px;
  height: 50px;
}

.tilt > .tilt-element-inner-text.middle {
  top: 10px;
  left: 25px;
  background: rgba(0, 0, 255, 0.75);
}

.tilt > .tilt-element-inner-text.top-right {
  top: -30px;
  right: -10px;
  background: rgba(255, 255, 0, 0.2);
}

#link-to-github-profile {
  padding: 0;
}

#button-notification {
  position: absolute;
  left: -9999px;
}

#learning-link {
  visibility: hidden;
}

.draggable-offline {
  width: 26ch;
  border-radius: 0 !important;
}

#ascii-art {
  display: none;
}

#ascii-art > p {
  padding: 0;
  margin: -1px;
  color: black !important;
}

.sequence {
  width: 33ch;
  border: none;
  transition: 0.25s;
}

.sequence span {
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  margin: 0;
}

.sequence span:first-child {
  padding-left: 10px;
  border-radius: 10px 0 0 10px;
}

.sequence span:last-child {
  padding-right: 10px;
  border-radius: 0 10px 10px 0;
}

.sequence:hover span {
  background: lime;
  color: black;
}

.sequence:hover span:nth-child(1) {
  transition-delay: 0.1s;
}

.sequence:hover span:nth-child(2) {
  transition-delay: 0.2s;
}

.sequence:hover span:nth-child(3) {
  transition-delay: 0.3s;
}

.sequence:hover ~ #button-group button {
  background: lime;
  color: black;
}

.sequence:hover ~ #button-group button:nth-of-type(1) {
  transition-delay: 0.4s;
}

.sequence:hover ~ #button-group button:nth-of-type(2) {
  transition-delay: 0.5s;
}

.sequence:hover ~ #button-group button:nth-of-type(3) {
  transition-delay: 0.6s;
}

.sequence:hover ~ #button-group button:nth-of-type(4) {
  transition-delay: 0.7s;
}

.sequence:hover ~ #button-group button:nth-of-type(5) {
  transition-delay: 0.8s;
}

.sequence:hover ~ #button-group button:nth-of-type(6) {
  transition-delay: 0.9s;
}

#flying-focus-ring-element {
  position: absolute;
  background: transparent;
  /* -webkit-transition-property: left, top, width, height; */
  transition-property: left, top, width, height;
  /* -webkit-transition-timing-function: cubic-bezier(0,1,0,1); */
  transition-timing-function: cubic-bezier(0, 1, 0, 1);
  visibility: hidden;
  pointer-events: none;
  box-shadow: 0 0 2px 3px lightblue, 0 0 2px lightblue inset;
  border-radius: 2px;
}
#flying-focus-ring-element.flying-focus_visible {
  visibility: visible;
  z-index: 9999;
}
@media (prefers-reduced-motion) {
  #flying-focus-ring-element {
    display: none;
  }
}
