// note to self: re-run yarn dev if you make edits to this mixin

@mixin angled-box {
  --angled-box-padding: var(--size-7);
  clip-path: polygon(0% 3%, 100% 0%, 97% 100%, 3% 100%);
  padding-inline: var(--angled-box-padding);
  border-radius: 0;
}
