// note to self: re-run yarn dev if you make edits to this mixin

// @import "../../public/book.svg";
// @import "../../public/a11y.svg";
// @import "../../public/robot.svg";

@mixin custom-bullets {
  ul {
    width: max-content;
    margin: auto;
    padding: 0;
  }

  li {
    list-style: none;
    width: max-content;
    margin-inline-start: -1rem;
  }

  li:before {
    margin-block: -0.5rem;
    margin-inline-end: -0.5rem;
    vertical-align: middle;
    color: black;
    background: var(--my-gradient);
    border-radius: 50%;
    display: inline-block;
    padding: 0.25rem;
    height: 3.5rem;
    width: 3.5rem;
    transform: rotate(-0.03turn) scale(0.5);
  }

  li:nth-child(1):before {
    // need ../../public/ prefix so it works in deploy
    content: url(../../public/book.svg);
  }
  li:nth-child(2):before {
    // need ../../public/ prefix so it works in deploy
    content: url(../../public/a11y.svg);
  }
  li:nth-child(3):before {
    // need ../../public/ prefix so it works in deploy
    content: url(../../public/robot.svg);
  }

  li::marker {
    color: var(--accent-colour);
  }
}
