// note to self: re-run yarn dev if you make edits to this mixin

@mixin fade-in {
  --fade-in-time: 2s;
  --fade-in-delay: 0s;
  transition: opacity 0.5s;
  animation: fade-in both;
  animation-duration: var(--fade-in-time);
  animation-delay: var(--fade-in-delay);

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@mixin fade-in-and-slide-up {
  --fade-in-time: 2s;
  --fade-in-delay: 0s;
  transition: opacity 0.5s;
  animation: fade-in both;
  animation-duration: var(--fade-in-time);
  animation-delay: var(--fade-in-delay);

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    animation: fade-in both, var(--animation-slide-in-up) both;
    animation-duration: var(--fade-in-time);
    animation-delay: var(--fade-in-delay);
  }
}
