---
import Layout from "../layouts/Layout.astro";
import CursorDecoration from "../components/CursorDecoration.astro";

const contactFormUrl =
  "https://docs.google.com/forms/d/e/1FAIpQLSc6YqCDPJzQKFi43EDPyU9W9mQq7TOdmlZOrhlgsTdcthaGYA/viewform";
---

<script define:vars={{ contactFormUrl }}>
window.location.href = contactFormUrl;
</script>

<Layout
  title="Howard Chiam"
  description="Howard's profile page - a sample of projects, certificates, and starting points to explore."
>
  <CursorDecoration />
  <main>
    <h1>Redirecting...</h1>
    <p>
      If you're not automatically redirected in a few seconds, go to <a
        href={contactFormUrl}
        target="_blank">{contactFormUrl}</a
      >
    </p>
  </main>
</Layout>

<style lang="scss">
  @import "../styles/fade-in";

  :root {
    --my-gradient: conic-gradient(at top left, lime 45deg, cyan 150deg);
    --transparent-grey: #21252980;
    --h1-scale: 1;
    --box-shadow: 3px 5px 15px var(--transparent-grey);
  }

  html {
    height: 100%;
  }

  body {
    height: calc(100% - var(--size-3));
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    width: min-content;
    max-width: 100%; /* for mobile to look OK still */
    margin: auto;
    text-align: center;
    background: transparent;
  }

  h1 {
    background: var(--my-gradient);
    color: black;
    margin-bottom: var(--size-3);
    margin-inline: calc(-1 * var(--angled-box-padding));
    border-radius: 0.5rem;
    padding: var(--size-2) var(--size-3);
  }

  p {
    // @include fade-in-and-slide-up;
    @include fade-in;
    --fade-in-time: 2s;
  }
</style>
