---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Phaser Game Test" description="Playing With Blocks">
  <main>
    <h1>Phaser Game Test - Playing With Blocks</h1>
    <iframe
      height="265"
      scrolling="no"
      title="new phaser game"
      src="https://codepen.io/hchiam/embed/preview/gmvzdo?height=265&theme-id=dark&default-tab=result"
      frameborder="no"
      loading="lazy"
      allowtransparency="true"
      allowfullscreen="true"
    >
      See the Pen{" "} <a href="https://codepen.io/hchiam/pen/gmvzdo">new phaser
      game</a> by hchiam (<a href="https://codepen.io/hchiam">@hchiam</a>) on{"
      "} <a href="https://codepen.io">CodePen</a>.
    </iframe>
  </main>
</Layout>

<style>
  html,
  body {
    height: 100%;
  }
  main {
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100%;
  }
  h1 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  iframe {
    width: 80vw;
    height: 80vh;
  }
</style>

<script>
  import "../helpers/go-to.js";

  console.log(
    `%cClick on the game screen first to play.%c
%cIf you have an internet connection,
you can enter this command:%c
%chome()%c
and the next time you want to go to this page, just enter this command:
%cgame()%c
`,
    "color: blue; background: lightgrey;",
    "",
    "color: blue; background: lightgrey;",
    "",
    "color: lime; background: black;",
    "color: blue; background: lightgrey;",
    "color: lime; background: black;"
  );
</script>
