---
export interface Props {
  src: string;
  alt: string;
  width?: string;
  height?: string;
  tabindex?: string;
}
const { src, alt, width, height, tabindex } = Astro.props;
---

<div class="wrapper">
  <img
    src={src}
    alt={alt}
    loading="eager"
    width={width || ""}
    height={height || ""}
    tabindex={tabindex || ""}
  />
</div>

<style lang="scss">
  @import "../styles/fade-in";

  .wrapper {
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    margin: auto;
    overflow: hidden;
    padding: 10px;
    background: var(--my-gradient);
    @include fade-in;
    position: relative;
    z-index: 1;
    isolation: isolate;

    @media (prefers-reduced-motion: no-preference) {
      animation: jump-up 1s both;
      will-change: transform;
      transform-origin: center; // need center for both focus-style and jump-up
    }
  }

  @keyframes jump-up {
    from {
      transform: translateY(calc(50% + 30vh / 2)) rotate(-0.1turn) scale(0);
    }
  }

  img {
    margin: auto;
    background: inherit;
    text-align: center;
  }
</style>
