---
export interface Props {
      title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width">
      <link rel="icon"
            type="image/x-icon"
            href="/favicon.ico" />
      <link rel="stylesheet"
            href="/open-props.min.css">
      <link rel="stylesheet"
            href="/css-boilerplate.css">
      <script src="/flying-focus.js"
              is:inline></script>
      <title>{title}</title>
</head>

<body>
      <slot />
</body>

</html>

<style>
      html {
            background:
                  /* first in list is layered on top: */
                  linear-gradient(calc(180deg - 25deg),
                        transparent 0%,
                        transparent 50%,
                        var(--gray-7) 50%,
                        var(--gray-7) 100%),
                  linear-gradient(calc(180deg + 15deg),
                        transparent 0%,
                        transparent 50%,
                        var(--gray-8) 50%,
                        var(--gray-8) 100%),
                  var(--gray-9);
            background-attachment: fixed;
            height: 100%;
      }

      body {
            background: transparent;
            height: 100%;
      }
</style>