:root {
  --main-color: hsl(0, 0%, 13%);
  --secondary-color: hsl(0, 3%, 23%);
}

*:not(div) {
  background: var(--main-color);
  color: whitesmoke;
  font-family: avenir, arial;
  padding: 10px;
  transition: 0.2s;
}

body,
main,
section#main,
h1 {
  background: transparent;
}

button {
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  font-size: 16px;
}

button:hover,
button:focus,
a:hover,
a:focus {
  background: lime;
  color: black;
  text-decoration: underline;
  outline: 0;
  box-shadow: 0 0 0 2pt white;
}

button:focus,
a:focus {
  box-shadow: 0 0 0 4pt white;
}

button {
  position: relative;
}

button > svg {
  position: absolute;
  left: -75px;
  top: -100px;
  background: transparent;
  pointer-events: none;
  height: 200px;
  width: 200px;
  z-index: -1;
  transform: scale(0);
}

button > svg > path {
  fill: #a7f0ba;
}

button:hover > svg,
button:focus > svg {
  animation: bouncy-growth 2s forwards;
}

.center {
  text-align: center;
}

.shake:hover {
  animation: wobble 0.5s;
  animation-iteration-count: 1;
}

@media only screen and (max-device-width: 640px) {
  button {
    min-width: 48px;
    min-height: 48px;
    margin: 10px;
  }
}

div,
img,
p {
  background: rgba(0, 0, 0, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#flying-focus-ring-element {
  position: absolute;
  background: transparent;
  /* -webkit-transition-property: left, top, width, height; */
  transition-property: left, top, width, height;
  /* -webkit-transition-timing-function: cubic-bezier(0,1,0,1); */
  transition-timing-function: cubic-bezier(0, 1, 0, 1);
  visibility: hidden;
  pointer-events: none;
  box-shadow: 0 0 2px 3px lightblue, 0 0 2px lightblue inset;
  border-radius: 2px;
}
#flying-focus-ring-element.flying-focus_visible {
  visibility: visible;
  z-index: 9999;
}
@media (prefers-reduced-motion) {
  #flying-focus-ring-element {
    display: none;
  }
}

@keyframes bouncy-growth {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(2);
  }
  20%,
  90% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}
