:root {
  --main-color: hsl(0, 0%, 13%);
  --secondary-color: hsl(0, 3%, 23%);
  --waymo-white: white;
  --waymo-green: #6ae4a3;
  --waymo-blue: #2f78f7;
  --waymo-grey: #959a9f;
  --waymo-dark-navy: #23233a;
  --verily-white: white;
  --verily-pink: #f57180;
  --verily-red: #df2456;
  --verily-purple: #7423df;
}

*:not(div) {
  background: var(--main-color);
  color: whitesmoke;
  font-family: avenir, arial;
  padding: 10px;
  transition: 0.2s;
}

html {
  scroll-behavior: smooth;
}

body,
main,
section#main,
h1 {
  background: transparent;
}

section#main {
  height: 100vh;
}

button {
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  font-size: 16px;
}

button:hover,
button:focus,
a:hover,
a:focus {
  background: lime;
  color: black;
  text-decoration: underline;
  outline: 0;
  box-shadow: 0 0 0 2pt white;
}

button:focus,
a:focus {
  box-shadow: 0 0 0 4pt white;
}

button {
  position: relative;
}

button > svg {
  position: absolute;
  left: -75px;
  top: -100px;
  background: transparent;
  pointer-events: none;
  height: 200px;
  width: 200px;
  z-index: -1;
  transform: scale(0);
}

button > svg > path {
  fill: #a7f0ba;
}

button:hover > svg,
button:focus > svg {
  animation: bouncy-growth 2s forwards;
}

.center {
  text-align: center;
}

.shake:hover {
  animation: wobble 0.5s;
  animation-iteration-count: 1;
}

@media only screen and (max-device-width: 640px) {
  button {
    min-width: 48px;
    min-height: 48px;
    margin: 10px;
  }
}

div,
img,
p {
  background: rgba(0, 0, 0, 0);
  display: block;
}

#flying-focus-ring-element {
  position: absolute;
  background: transparent;
  /* -webkit-transition-property: left, top, width, height; */
  transition-property: left, top, width, height;
  /* -webkit-transition-timing-function: cubic-bezier(0,1,0,1); */
  transition-timing-function: cubic-bezier(0, 1, 0, 1);
  visibility: hidden;
  pointer-events: none;
  box-shadow: 0 0 2px 3px lightblue, 0 0 2px lightblue inset;
  border-radius: 2px;
}
#flying-focus-ring-element.flying-focus_visible {
  visibility: visible;
  z-index: 9999;
}
@media (prefers-reduced-motion) {
  #flying-focus-ring-element {
    display: none;
  }
}

@keyframes bouncy-growth {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(2);
  }
  20%,
  90% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

.collapsible {
  animation: expand 0.3s forwards;
}

.collapsible.collapse {
  animation: collapse 0.3s forwards;
}

@keyframes collapse {
  from {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    max-height: 100%;
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    max-height: 0;
    height: 0;
  }
}

@keyframes expand {
  from {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    max-height: 0;
    height: 0;
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    max-height: 100%;
  }
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 1rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.d-none {
  display: none;
}

.transparent-background {
  background: transparent;
}

.waymo-white-background {
  background: var(--waymo-white) !important;
}
.waymo-green-background {
  background: var(--waymo-green) !important;
}
.waymo-blue-background {
  background: var(--waymo-blue) !important;
}
.waymo-grey-background {
  background: var(--waymo-grey) !important;
}
.waymo-dark-navy-background {
  background: var(--waymo-dark-navy) !important;
}

.waymo-white-text {
  color: var(--waymo-white) !important;
}
.waymo-green-text {
  color: var(--waymo-green) !important;
}
.waymo-blue-text {
  color: var(--waymo-blue) !important;
}
.waymo-grey-text {
  color: var(--waymo-grey) !important;
}
.waymo-dark-navy-text {
  color: var(--waymo-dark-navy) !important;
}

.verily-white-background {
  background: var(--verily-white) !important;
}
.verily-purple-background {
  background: var(--verily-purple) !important;
}
.verily-red-background {
  background: var(--verily-red) !important;
}
.verily-pink-background {
  background: var(--verily-pink) !important;
}

.verily-white-text {
  color: var(--verily-white) !important;
}
.verily-purple-text {
  color: var(--verily-purple) !important;
}
.verily-red-text {
  color: var(--verily-red) !important;
}
.verily-pink-text {
  color: var(--verily-pink) !important;
}

#waymo-demo p {
  background: var(--waymo-white);
  color: var(--waymo-blue);
}

#verily-demo p {
  background: var(--verily-white);
  color: var(--verily-purple);
}

.slice:focus {
  outline: none;
}

.slice:focus path {
  fill: black;
  /* color: white; won't work inside SVG */
}

.slice:focus text {
  fill: white;
  /* color: white; won't work inside SVG */
}

.circle-before-chart-label:before {
  content: "⦿";
}
.square-before-chart-label:before {
  content: "◼";
}
.triangle-before-chart-label:before {
  content: "▲";
}
.circle-before-chart-label:before,
.square-before-chart-label:before,
.triangle-before-chart-label:before {
  mix-blend-mode: difference;
}
